<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/css/wap.css}">
    <title>疫情预测趋势</title>
    <script type="text/javascript" th:src="@{/echarts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/echarts/china.js}"></script>
    <script type="text/javascript" th:src="@{/echarts/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body style="background:#ececec">
<div class="pet_mian" >
    <div class="pet_head">
        <header data-am-widget="header"
                class="am-header am-header-default pet_head_block">
            <div class="am-header-left am-header-nav ">
                <a href="javascript:history.back(-1)"  class="iconfont pet_head_jt_ico">&#xe601;</a>
            </div>

            <h1 class="am-header-title pet_article_user">
                <div class="pet_article_user_info_tab">
                    <div class="pet_article_user_info_tab_font">
                        <div class="pet_article_user_info_tab_font_triangle"></div>
                        <div class="pet_article_user_info_tab_font_center"><i>文章</i><span>16篇</span></div>
                        <!--         <div class="pet_article_user_info_tab_font_center"><i>涂鸦</i><span>89张</span></div>
                                <div class="pet_article_user_info_tab_font_center_line"></div>
                                <div class="pet_article_user_info_tab_font_center"><a href="###">查看全部资料</a></div> -->
                    </div>
                </div>
                <span class="pet_article_user_ico"><img src="img/a1.png" alt="" class=""></span>
                <span class="pet_article_user_name">全国疑似确诊趋势</span>
            </h1>

            <div class="am-header-right am-header-nav">
                <a href="javascript:;" class="iconfont pet_head_gd_ico">&#xe600;</a>
            </div>
        </header>
    </div>



    <div class="pet_more_list"><div class="pet_more_list_block">
        <div class="iconfont pet_more_close">×</div>
        <div class="pet_more_list_block">
            <div class="pet_more_list_block_name">
                <div class="pet_more_list_block_name_title">阅读 Read</div>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_xinxianshi pet_more_list_block_line_ico">&#xe601;</i>
                    <div class="pet_more_list_block_line_font">新鲜事</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_zhangzhishi pet_more_list_block_line_ico">&#xe606;</i>
                    <div class="pet_more_list_block_line_font">涨知识</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico">&#xe607;</i>
                    <div class="pet_more_list_block_line_font">看涂鸦</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_mengzhuanti pet_more_list_block_line_ico">&#xe603;</i>
                    <div class="pet_more_list_block_line_font">萌专题</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_bk pet_more_list_block_line_ico">&#xe611;</i>
                    <div class="pet_more_list_block_line_font">百科</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_wd pet_more_list_block_line_ico">&#xe60c;</i>
                    <div class="pet_more_list_block_line_font">问答</div>
                </a>
                <div class="pet_more_list_block_name_title pet_more_list_block_line_height">服务 Service</div>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_xinxianshi pet_more_list_block_line_ico">&#xe600;</i>
                    <div class="pet_more_list_block_line_font">美容</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_zhangzhishi pet_more_list_block_line_ico">&#xe602;</i>
                    <div class="pet_more_list_block_line_font">医院</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico">&#xe604;</i>
                    <div class="pet_more_list_block_line_font">店铺</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_sy pet_more_list_block_line_ico">&#xe610;</i>
                    <div class="pet_more_list_block_line_font">摄影</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_xx pet_more_list_block_line_ico">&#xe612;</i>
                    <div class="pet_more_list_block_line_font">学校</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_sz pet_more_list_block_line_ico">&#xe60f;</i>
                    <div class="pet_more_list_block_line_font">水族</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_ms pet_more_list_block_line_ico">&#xe60e;</i>
                    <div class="pet_more_list_block_line_font">猫舍</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_qs pet_more_list_block_line_ico">&#xe60b;</i>
                    <div class="pet_more_list_block_line_font">犬舍</div>
                </a>
                <a class="pet_more_list_block_line">
                    <i class="iconfont pet_nav_qt pet_more_list_block_line_ico">&#xe60d;</i>
                    <div class="pet_more_list_block_line_font">其它</div>
                </a>
            </div>
        </div>

    </div></div>



    <div class="pet_content">
        <div class="pet_content_block">
            <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default pet_content_article" data-am-paragraph="{ tableScrollable: true, pureview: true }">
                <h1 class="pet_article_title">全国疫情趋势图</h1>
                <div class="pet_article_user_time">发表于：2020年2月22日</div>

                <!--       =========================================                    地图      ===============================================                                             -->

                <div id="main" style="width: 100%;height:400%;text-align: center"></div>
                <script type="text/javascript">
                    var charts = {
                        unit: '新增确诊/疑似',
                        names: ['确诊', '疑似'],
                        lineX: ['2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22'],
                        value: [
                            [3256, 4005, 3865, 3426, 3685, 3469, 3768, 3456, 3348, 15680, 5642, 2356, 2008, 2000, 2003, 1952,2013,1862,1892],
                            [5630, 4102, 5806, 4205, 4008, 3562, 3305, 3004, 2564, 2400, 2356, 2100, 2006, 1962, 1756, 1856,1796,1985,1736]
                        ]

                    }
                    var color = ['rgba(23, 255, 243', 'rgba(255,100,97']
                    var lineY = []

                    for (var i = 0; i < charts.names.length; i++) {
                        var x = i
                        if (x > color.length - 1) {
                            x = color.length - 1
                        }
                        var data = {
                            name: charts.names[i],
                            type: 'line',
                            color: color[x] + ')',
                            smooth: true,
                            areaStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: color[x] + ', 0.3)'
                                    }, {
                                        offset: 0.8,
                                        color: color[x] + ', 0)'
                                    }], false),
                                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                                    shadowBlur: 10
                                }
                            },
                            symbol: 'circle',
                            symbolSize: 5,
                            data: charts.value[i]
                        }
                        lineY.push(data)
                    }

                    lineY[0].markLine = {
                        silent: true,
                        data: [{
                            yAxis: 5
                        }, {
                            yAxis: 3000
                        }, {
                            yAxis: 4000
                        }, {
                            yAxis: 5000
                        }, {
                            yAxis: 6000
                        }]
                    }
                    var option = {
                        backgroundColor:'#1b2735',
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: charts.names,
                            textStyle: {
                                fontSize: 12,
                                color: 'rgb(0,253,255,0.6)'
                            },
                            right: '4%'
                        },
                        grid: {
                            top: '14%',
                            left: '4%',
                            right: '4%',
                            bottom: '12%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: charts.lineX,
                            axisLabel: {
                                textStyle: {
                                    color: 'rgb(0,253,255,0.6)'
                                },
                                formatter: function(params) {
                                    return params.split(' ')[0] + '\n' + params.split(' ')[1]
                                }
                            }
                        },
                        yAxis: {
                            name: charts.unit,
                            type: 'value',
                            axisLabel: {
                                formatter: '{value}',
                                textStyle: {
                                    color: 'rgb(0,253,255,0.6)'
                                }
                            },
                            splitLine: {
                                lineStyle: {
                                    color: 'rgb(23,255,243,0.3)'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: 'rgb(0,253,255,0.6)'
                                }
                            }
                        },
                        series: lineY
                    }
                    setInterval(() => {
                        myChart.setOption({
                            legend: {
                                selected: {
                                    '出口': false,
                                    '入口': false
                                }
                            }
                        })
                        myChart.setOption({
                            legend: {
                                selected: {
                                    '出口': true,
                                    '入口': true
                                }
                            }
                        })
                    },10000)

                    var MyChart = echarts.init(document.getElementById("main"));
                    MyChart.setOption(option);
                    //自适应大小
                    window.addEventListener("resize",function () {
                        myChart.resize();
                    })
                </script>



                <p>2月18日，新增治愈出院病例1824例，连续七天超过千人。此前的六天这一数据分别为：1701例（17日）、1425例（16日）、1323例（15日）、1373例（14日）、1081例（13日）、1171例（12日）</p>
                <p>“尽管如此，疫情仍未到达拐点，我们不能自满。”布伦南表示，作为一种由新型病毒引发的疫情，新型冠状病毒肺炎的防控形势瞬息万变，全球、地区、国家层面各主体不可掉以轻心，仍需高度警惕，通力合作。</p> </article>
            <ul class="like_share_block">
                <li><a class="link_share_button" href="###"><i class="iconfont share_ico_link">&#xe62f;</i>1460</a></li>
                <li><a class="link_share_button" href="###"><i class="iconfont share_ico_wx">&#xe630;</i>微信</a></li>
                <li><a class="link_share_button" href="###"><i class="iconfont share_ico_pyq">&#xe62e;</i>朋友圈</a></li>
            </ul>
            <div class="pet_article_dowload">
                <div class="pet_article_dowload_title">关于Amaze UI</div>
                <div class="pet_article_dowload_content"><div class="pet_article_dowload_triangle"></div>
                    <div class="pet_article_dowload_ico"><img src="img/footdon.png" alt=""></div>
                    <div class="pet_article_dowload_content_font">
                        Amaze UI 以移动优先（Mobile first）为理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。
                    </div>
                    <div class="pet_article_dowload_all">
                        <a href="###" class="pet_article_dowload_Az am-icon-apple"> App store</a>
                        <a href="###" class="pet_article_dowload_Pg am-icon-android"> Android</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="pet_article_footer_info">Copyright(c)2020 wang All Rights Reserved</div>
    </div>
</div>

<script th:src="@{/js/amazeui.min.js}"></script>

<script>
    $(function(){
        // 动态计算优酷土豆QQ视频等视频引用尺寸问题
        function auto_video(){
            var iframe_width = $('article > embed').width();
            $('article > embed').height(iframe_width/4*3);
            $('article > embed').css({'display':'block','margin':'20px auto'});
        }
        // 动态计算新闻列表文字样式
        auto_resize();
        auto_video();
        $(window).resize(function() {
            auto_resize();
            auto_video();
        });
        $('.am-list-thumb img').load(function(){
            auto_resize();
        });
        $('.pet_article_like li:last-child').css('border','none');
        function auto_resize(){
            $('.pet_list_one_nr').height($('.pet_list_one_img').height());
            // alert($('.pet_list_one_nr').height());
        }
        $('.pet_article_user').on('click',function(){
            if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
            }else{
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
            }
        });

        $('.pet_head_gd_ico').on('click',function(){
            $('.pet_more_list').addClass('pet_more_list_show');
        });
        $('.pet_more_close').on('click',function(){
            $('.pet_more_list').removeClass('pet_more_list_show');
        });
    });

</script>
</body>
</html>